     
  <h1 mat-dialog-title>Agregar Farmacia</h1>
  <mat-form-field style="margin-left: 3%; width: 90%;">
        <input matInput  placeholder="Nombre Farmacia" [formControl]="nombreFormControl" [(ngModel)]="NOMBRE">
        <mat-error *ngIf="nombreFormControl.hasError('noFarmacia') && !nombreFormControl.hasError('required')">
        </mat-error>
        <mat-error *ngIf="nombreFormControl.hasError('required')">
          Nombre de Farmacia  es <strong>requerido</strong>
        </mat-error>
    </mat-form-field>
  <mat-form-field style="margin-left: 3%; width: 90%;" >
      <input matInput  placeholder="Direccion" [formControl]="direccionFormControl" [(ngModel)]="DIRECCION">
      <mat-error *ngIf="direccionFormControl.hasError('direccion') && !direccionFormControl.hasError('required')">
      </mat-error>
      <mat-error *ngIf="direccionFormControl.hasError('required')">
        Direccion es <strong>requerido</strong>
      </mat-error>
  </mat-form-field>
  <mat-form-field  style="margin-left: 3%;">
        <input matInput #tel maxlength="15" placeholder="Telefono" [(ngModel)]="TELEFONO" [formControl]="telefonoFormControl">
        <mat-hint align="end">{{tel.value.length}} / 15</mat-hint>
        <mat-error *ngIf="telefonoFormControl.hasError('telefono') && !telefonoFormControl.hasError('required')">
          </mat-error>
          <mat-error *ngIf="telefonoFormControl.hasError('required')">
              Telefono es <strong>requerido</strong>
            </mat-error>
  </mat-form-field>
  <mat-form-field style="margin-left: 3%; width: 20%;" >
    <input matInput #nu_movil placeholder="Movil" maxlength="15" [formControl]="movilFormControl" [(ngModel)]="MOVIL">
    <mat-hint align="end">{{nu_movil.value.length}} / 15</mat-hint>
    <mat-error *ngIf="movilFormControl.hasError('movil') && !movilFormControl.hasError('required')">
    </mat-error>
    <mat-error *ngIf="movilFormControl.hasError('required')">
      Movil es <strong>requerido</strong>
    </mat-error>
</mat-form-field>
<mat-form-field style="margin-left: 3%; width: 40%;" >
  <input matInput  placeholder="Latitud" [formControl]="latitudFormControl" [(ngModel)]="LATITUD">
  <mat-error *ngIf="latitudFormControl.hasError('latitud') && !latitudFormControl.hasError('required')">
  </mat-error>
  <mat-error *ngIf="latitudFormControl.hasError('required')">
    Latitud es <strong>requerido</strong>
  </mat-error>
</mat-form-field>
<mat-form-field style="margin-left: 3%; width: 40%;" >
  <input matInput  placeholder="Longitud" [formControl]="longitudFormControl" [(ngModel)]="LONGITUD">
  <mat-error *ngIf="longitudFormControl.hasError('longitud') && !longitudFormControl.hasError('required')">
  </mat-error>
  <mat-error *ngIf="longitudFormControl.hasError('required')">
    Longitud es <strong>requerido</strong>
  </mat-error>
</mat-form-field>
<mat-form-field style="margin-left: 3%; width: 40%;" >
  <input matInput  placeholder="Provincia" [formControl]="provinciaFormControl" [(ngModel)]="PROVINCIA">
  <mat-error *ngIf="provinciaFormControl.hasError('provincia') && !provinciaFormControl.hasError('required')">
  </mat-error>
  <mat-error *ngIf="provinciaFormControl.hasError('required')">
    Provincia es <strong>requerido</strong>
  </mat-error>
</mat-form-field>
  <mat-form-field style="margin-left: 3%; width: 45%;" >
        <input matInput placeholder="Correo" [formControl]="emailFormControl" [(ngModel)]="CORREO">
                  
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Correo incorrecto
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Correo es <strong>requerido</strong>
        </mat-error>
  </mat-form-field>
  <mat-form-field style="margin-left: 3%; width: 20%;">
    <mat-label>Pais</mat-label>
    <mat-select [(value)]="ID_PAIS">
      <mat-option value="1">España</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field style="margin-left: 3%; width: 20%;" >
  <input matInput #co_postal placeholder="Codigo Postal" maxlength="10" [formControl]="postalFormControl" [(ngModel)]="CODIGO_POSTAL">
  <mat-hint align="end">{{co_postal.value.length}} / 10</mat-hint>
  <mat-error *ngIf="postalFormControl.hasError('postal') && !postalFormControl.hasError('required')">
  </mat-error>
  <mat-error *ngIf="postalFormControl.hasError('required')">
    Codigo Postal es <strong>requerido</strong>
  </mat-error>
</mat-form-field>
<div mat-dialog-actions>
    <div style="margin: 0 auto;
    display: inline-block;">
  <button mat-raised-button color="primary" (click)="InsertarFarmacia()" color="primary">Aceptar</button>
  <button mat-raised-button color="primary"  [mat-dialog-close] color="primary">Cancelar</button>
  </div>  
</div> 

