<div #target>
    
<section *ngFor="let dataProducto of arrayDesdeService">
 <article>
     <mat-card>
        <mat-card-header>
         <mat-card-title>
             {{dataProducto.NOMBRE_PRODUCTO}}
         </mat-card-title>
         <mat-card-subtitle>
            {{dataProducto.NOMBRE_CATEGORIA}}
         </mat-card-subtitle>
        </mat-card-header>
        <mat-card-title style="text-align: center;">
        <img mat-card-image src="{{ruta_imagen+dataProducto.ARCHIVO_IMAGEN}}" style="height: 250px; width: 250px;">
    </mat-card-title>
     </mat-card>
</article>
<article>
    <mat-card>
        <mat-card-title>
            EL MEJOR PRECIO:
        </mat-card-title>
        <mat-card-content style="font-size: 60px;">
            <b>{{dataProducto.PRECIO | currency : "€" }}</b>
        </mat-card-content>
        <mat-card-content>
            {{dataProducto.DESCRIPCION}}
        </mat-card-content>
        <mat-card-content>
            {{dataProducto.NOMBRE_FARMACIA}}
        </mat-card-content>
        <mat-card-subtitle style="font-size: 20px;">
            Distancia: {{ geolocalizacion(dataProducto.LATITUD , dataProducto.LONGITUD)}} KM
         </mat-card-subtitle>
        <mat-card-content>
            Direccion : {{dataProducto.DIRECCION}}
        </mat-card-content>
    </mat-card>
</article>
</section>
</div>
    <h1 *ngIf="mostrar" style="font-size: 30px;">Todos los precios</h1>


<section >
    <article *ngFor="let dataComparacionPrecios of dataComparacionPrecios">
        <mat-card style="height: 90%;">
           <mat-card-header>
               <section>
                   <article >
                    <img mat-card-image src="{{ruta_imagen+dataComparacionPrecios.ARCHIVO_IMAGEN}}" style="height: 180px; width: 180px;">
                   </article>
                   <article>
                    Precio:
                    <mat-card-content style="font-size: 30px;">
                        {{dataComparacionPrecios.PRECIO | currency : "€"}}
                    </mat-card-content>
                   </article>
               </section>
           </mat-card-header>
           <article>
            <!-- <mat-card-header> -->
            <mat-card-content>
             Nombre: {{dataComparacionPrecios.NOMBRE_PRODUCTO}}
            </mat-card-content>
            <mat-card-subtitle class="DescricionCard" style="font-size: 12px;">
              Descripción: {{dataComparacionPrecios.DESCRIPCION}}
            </mat-card-subtitle>
            <mat-card-subtitle>
                Nombre Farmacia: {{dataComparacionPrecios.NOMBRE_FARMACIA}}</mat-card-subtitle>        
            <mat-card-subtitle style="font-size: 20px;">
                Distancia: {{ geolocalizacion(dataComparacionPrecios.LATITUD , dataComparacionPrecios.LONGITUD)}} KM
             </mat-card-subtitle>
           
            <mat-card-subtitle>
               Dirección: {{dataComparacionPrecios.DIRECCION}}
            </mat-card-subtitle>
           </article>
        </mat-card>
   </article>
   </section>

   <h1 *ngIf="mostrar" style="font-size: 30px;">Sugerencias</h1>

   <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
        <mat-card *ngFor="let dataSugerencia of dataSugerencias; let i = index"  fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
        <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              {{dataSugerencia.NOMBRE}}
        </mat-card-title>
        <mat-card-title >
            <p> </p>
        </mat-card-title>
        <mat-card-title >
            <img mat-card-image src="{{ruta_imagen+dataSugerencia.ARCHIVO_IMAGEN}}" style="height: 90px; width: 90px;">
        </mat-card-title>
        </mat-card-header>

            <mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="btnSelecionarSugerencia(i,target);">Seleccionar</button>
                </mat-card-actions>
            
            </mat-card-content>

        </mat-card>


        </div>