<mat-nav-list>
      
        <a mat-list-item routerLink="/registrar" (click)="onSidenavClose()">
            <mat-icon>description</mat-icon> <span class="nav-caption">Registrar Medicamentos</span>   
        </a>
        <a mat-list-item routerLink="/registrarfarmacia" (click)="onSidenavClose()">
            <mat-icon>local_pharmacy</mat-icon> <span class="nav-caption">Registrar Farmacias</span>   
        </a>
        <a mat-list-item routerLink="/registrarcategoria" (click)="onSidenavClose()">
            <mat-icon>category</mat-icon> <span class="nav-caption">Registrar Categorias</span>   
        </a>
        <a mat-list-item routerLink="/cerrar" (click)="onSidenavClose()">
            <mat-icon>exit_to_app</mat-icon> <span class="nav-caption">Cerrar Sesión</span>   
        </a>
      
      </mat-nav-list>

