<div>
    <mat-toolbar color="primary" >
        <div >
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
       
        <div>
            <h1>Comparame Farmacias</h1>
        </div>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                    <a mat-button [routerLink]="'/accounts'"> Inicio </a>
                    <a mat-button [routerLink]="'/create-account'"> Nosotros </a>
                    <a mat-button [routerLink]="'/contacts'"> Contacto </a>
                    <a mat-button [routerLink]="'/create-contact'"> Login </a>
                    <a mat-button [routerLink]="'/activities'"> Registrarse </a>
                    <!-- <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->
            </ul>
        </div>
</mat-toolbar>
</div>




