a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 3px;
    max-width: 100%;
}

/* @media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
} */
.menu-spacer{
    flex: 1 1 auto;
}


  .item {
    display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  line-height: 45px;
  height: 45px;
  padding: 0 16px;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  color: #000;
  }

