
/* for sidenav to take a whole page */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
html, body { 
    
    height: 100%;

}
body {
    font-family: Roboto,Arial,sans-serif;
    margin: 0;

}