.ng-autocomplete {
  width:100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
  margin-top: 20px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  line-height: 45px;
  height: 45px;
  padding: 0 16px;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
  color: #000;
}
span {
  margin-left: 5px;
}



/* estilo para los card */
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80%;
}

.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 12px;
}

.cardListItem {
  flex: 0 1 calc(26.5% - 32px);
  margin-top: 2%;
}