<h1 mat-dialog-title style="text-align: center;">Modificar Medicamento</h1>
<div mat-dialog-content *ngFor="let Medicamento of data">
  <mat-form-field style="margin-left: 3%;">
    <input matInput placeholder="Nombre Medicamento" [(ngModel)]="Medicamento.NOMBRE" >
    </mat-form-field>
  <mat-form-field  style="margin-left: 3%;">
    <input matInput placeholder="Descripcion" [(ngModel)]="Medicamento.DESCRIPCION">
  </mat-form-field>
  <mat-form-field  style="margin-left: 3%;">
    <input matInput placeholder="Laboratorio" [(ngModel)]="Medicamento.LABORATORIO">
  </mat-form-field>
  <mat-form-field  style="margin-left: 3%;">
    <input matInput placeholder="Marca" [(ngModel)]="Medicamento.MARCA">
  </mat-form-field>
  <mat-form-field style="margin-left: 3%;width: 40%;">
    <mat-label>Categoria</mat-label>
    <mat-select [(value)]="SelectedListaCategoria" placeholder="Select value">
      <mat-option *ngFor="let categoria of ListaCategoria" [value]="categoria">
        {{categoria.NOMBRE_CATEGORIA}}
      </mat-option>
      <!-- <mat-option value="1">Bebe y Madre</mat-option>
      <mat-option value="2">Cosmética</mat-option>
      <mat-option value="3">Cuidado Personal</mat-option>
      <mat-option value="4">Dietetica y Productos naturales</mat-option>
      <mat-option value="5">Higiene</mat-option>
      <mat-option value="6">Optica</mat-option>
      <mat-option value="7">Ortopedia</mat-option>
      <mat-option value="8">Salud</mat-option> -->
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 3%;width: 40%;">
    <mat-label>Sub Categoria</mat-label>
    <mat-select [(value)]="SelectedListaSubCategoria" placeholder="Select value">
      <mat-option *ngFor="let subcategoria of ListaSubCategoria" [value]="subcategoria">
        {{subcategoria.NOMBRE}}
      </mat-option>
      <!-- <mat-option value="1">Alimentacion Infantil</mat-option>
      <mat-option value="2">Higiene del bebe</mat-option>
      <mat-option value="3">Puericultura</mat-option>
      <mat-option value="4">Corporal</mat-option>
      <mat-option value="5">Maquillajes</mat-option>
      <mat-option value="6">Facial</mat-option>
      <mat-option value="7">Nariz y Labios</mat-option>
      <mat-option value="8">Fragancias</mat-option>
      <mat-option value="9">Proteccion Solar</mat-option>
      <mat-option value="10">Hombre</mat-option> -->
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <div style="margin: 0 auto;
    display: inline-block;">
  <button mat-raised-button color="primary" (click)="ActualizarMedicamento(data)" >Modificar</button>
  <button mat-raised-button color="primary" (click)="onNoClick()" >Cancelar</button>
</div>
</div> 